.works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  .work {
    background: #404040;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.08s;
    &:hover,
    &:focus {
      outline: none;
      border-color: #d81b60;
    }
    .header {
      display: flex;
      align-items: center;
      img {
        display: block;
        max-width: 2.5rem;
        max-height: 2.5rem;
        margin: 0 1rem 0.5rem 0;
      }
    }
    .description {
      margin-bottom: 0.5rem;
    }
  }
}
