.posts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  gap: 2rem;
  mat-card {
    border: 2px solid transparent;
    transition: 0.08s;
    &:hover,
    &:focus {
      outline: none;
      border-color: #76ff03;
    }
  }
}
