.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

// my styles from here

.page-container {
  // border: 1px solid teal;
  // min-height: calc(90% - 4rem);
  padding: 2rem;
  min-height: 90%;
}
