@import "~@angular/material/theming";

$my-theme-primary: mat-palette($mat-light-green);
$my-theme-accent: mat-palette($mat-green);
$my-theme-warn: mat-palette($mat-amber);

$my-theme: mat-dark-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);
