@import "shafi.scss";
@include mat-core();
@include angular-material-theme($my-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto;
}

img {
  max-width: 100%;
  display: block;
  margin: 1rem 0;
}

.subtitle {
  font-size: 0.9rem;
  color: #ccc;
  margin: 0.25rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0.25rem;
}

mat-card {
  cursor: pointer;
}

[routerLink] {
  cursor: pointer;
}

.toolbar {
  background-color: mat-color($mat-light-green, A400);
  color: rgba($color: #000000, $alpha: 0.87);
}

.button {
  background-color: mat-color($mat-light-green, A400);
  color: rgba($color: #000000, $alpha: 0.87);
}
